@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>Bike Rentals in Bangalore</b></h1>
    <p class="lead">
        Rent. Ride. Explore.
    </p>
    <marquee behavior="alternate" scrolldelay="60ms">
        <img src=" https://www.asphaltandrubber.com/wp-content/gallery/ktm-390-duke-in-high-resolution/2013-ktm-390-duke-high-resolution-02.jpg" style="width:900px !important;height:500px !important">
        <img src="https://quintype-01.imgix.net/thequint/2016-03/8772da12-9abb-4340-85aa-65a807e15b0b/Hero.jpg" style="width:900px !important;height:500px !important">
        <img src="https://i.ytimg.com/vi/Lo9JoroO0Xo/maxresdefault.jpg" style="width:900px !important;height:500px !important">
        <img src="https://i.ndtvimg.com/i/2016-02/2016-ducati-multistrada-1200s-first-ride-review_827x510_41455797520.jpg" style="width:900px !important;height:500px !important">
    </marquee>@*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-lg-12">
        @*<h2>Getting started</h2>*@
        <p>
            Rent bikes in bangalore with Royal Brothers to get the best out of the city’s bustling streets. Need a hassle-free commute? Then rent a scooter with us to cruise through the traffic and reach your destination easily. Want to go to Nandi hills? We have bikes for rent like Pulsar, KTM, MOJO or Dominar or Royal Enfields that you can choose from! Want to celebrate a birthday or anniversary? We also provide motorcycles on rent, such as Harley Davidsons. You can now rent a Harley, Ducati, Triumph or a Daytona to make your day! Don’t wait around for an OLA or UBER or cram your way through crowded buses since you can hire a bike, which is much easier and convenient to travel around the city. Best of all, It’s a lot easier to park a bike in a metropolitan like Bangalore!
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>